@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.night-icon {
  display: flex;
  border: 1px solid #fefefe;
  align-items: center;
  background-color: #80807f;
}

.day-icon {
  color: white;
  display: flex;
  border: 1px solid #fefefe;
  align-items: center;
  background-color: #e59500;
}

.temp-unit-location-icon-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.current-weather-box-digital-clock {
  border: 1px solid #fefefe;
  padding: 2px;
  color: #333333;
  font-size: 10px;
  font-family: 'Orbitron';
  width: 60px;
}
.current-weather-box-digital-clock-GMT-box {
  border: 1px solid #fefefe;
  padding: 2px;
  color: #333333;
  font-size: 10px;
  font-family: 'Orbitron';
}
.weather-icon {
  font-size: 60px;
  position: relative; /* Add relative positioning for the front icon */
  z-index: 1; /* Ensure the front icon is above the background icon */
}

.icons-stack {
  display: flex;
  flex-direction: column; /* Stack the icons vertically */
  align-items: flex-start; /* Align the icons horizontally in the center */
}


.current-temp-number {
  font-size: 50px;
}

.weather-text {
  font-weight: bold;
  font-size: 15px;
}

/* Styles for day theme */
.weather-container.day {
  background: linear-gradient(135deg, #e5f0fa, #bcd4f8 70%); /* Gradient background for day clear sky */
  color: #333; /* Dark text color for day clear sky */
}

/* Styles for night theme */
.weather-container.night {
  background: linear-gradient(135deg, #aeaec0, #1a1a33 70%); /* Darker gradient background for night */
  color: #fff; /* Light text color for night */
}

  
.logo-parent-box {
  display: flex;
  align-items: center;
  justify-content: center;

}
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    height: 45px;
    width: 165px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo-text {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  
 /* .compass styles */
.compass {
  position: relative;
  width: 100%;
  /* Replace $elementWidth with the desired value in pixels */
  height: 70px /* $elementWidth */;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compass > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Apply opacity(0.4) filter to SVG elements that don't have the class "will-transform" */
.compass svg:not(.will-transform) {
  filter: opacity(0.4);
}

/* .compass-content styles */
.compass-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Replace $elementWidth with the desired value in pixels */
  font-size:  15px;
  font-weight: bold;
}

.compass-content .unit {
  /* Replace $elementWidth with the desired value in pixels */
  font-size: 10px;
  font-weight: 100;
}

